# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Build
dist/
build/

# Optional: uploads
uploads/

.vercel
