/* variables */
:root {
  --bg-color: #08292e;
  --primary-color: #becac8;
  --secondary-color: #08292e;
  --black: #89a2a6;
  --heading-font: "Outfit", sans-serif;
}

/* global properties */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--bg-color); */
  position: relative;
  background: linear-gradient(180deg, #08292e 0%, #000000 100%);
  color: var(--black);
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  color: #fff;
  padding: 8px 20px;
  font-weight: 500;
}

.radius {
  border-radius: 10px;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
}

.w-full {
  width: calc(100vw - 10rem) !important;
  max-width: 1440px;
  margin: auto;
}

/* for all headings */
.heading {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 6.5vw;
  color: var(--primary-color);
  text-transform: uppercase;
  line-height: 0.95;
  margin-top: 5.4rem;
}

/* local properties */

/* header */

header {
  padding: 1rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.2); /* light transparent background */
  /* backdrop-filter: blur(10px);           blur effect */
  /* -webkit-backdrop-filter: blur(10px);   for Safari support */
  /* padding: 10px 20px;                   /* some spacing */
  /* border-radius: 12px; */
}

header .logo {
  max-width: 132px;
  color: var(--primary-color);
}

header .btn {
  background-color: var(--secondary-color);
}

#main {
  overflow: hidden;
}

#headphone {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.5%;
  width: 30vw;
  max-width: 660px;
  filter: drop-shadow(8px 35px 6px #00000025);
  will-change: transform;
  z-index: 9;
}
#hamburger {
  display: none;
  color: var(--primary-color);
  width: 8vw;
  height: 8vh;
}
#slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0; /* start closed */
  background: linear-gradient(180deg, #08292e 0%, #000000 100%);
  z-index: 8;
  overflow: hidden; /* hide content when closed */
  transition: height 0.5s ease;
  padding: 0 2rem; /* no top padding until open */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#slider.open {
  height: 50vh; /* slide down */
  padding: 1rem 2rem;
}

#slider-closer {
  color: var(--primary-color);
  width: 5vw;
  height: 5vh;
  cursor: pointer;
  position: absolute;
  left: 88%;
  top: 1rem;
}

#slider-closer {
  color: var(--primary-color);
  width: 5vw;
  height: 5vh;
  cursor: pointer;
  position: absolute;
  left: 88%;
}
#slider-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
}
/* section 1 */

#section1 {
  height: 100vh;
  width: 70vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#section1 h1 {
  font-size: 13vw;
  line-height: 0.85;
  margin-bottom: 0;
  margin-top: 24rem;
  text-transform: none;
}

#section1 p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

/* section 2 */

#section2 {
  min-height: 100vh;
  padding-top: 2vw;
}

#section2 .btn {
  background-color: var(--black);
  margin-top: 1.8rem;
}

#section2 .content-wrapper {
  max-width: 500px;
}

.feature-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  margin-top: 8vw;
}

.feature-box {
  border: 2px solid var(--black);
  padding: 1.2vw 1.4vw;
}

.feature-name {
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

/* middle section */
.middlesection {
  min-height: 100vh;
  overflow: hidden;
}

.move {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 20vh;
}

.track {
  display: flex;
  animation: marquee 8s linear infinite;
}

.marque {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 2vw;
  padding: 1vw 2vw;
}

.marque h1 {
  font-size: 5vw;
  margin: 0;
}

.marque img {
  height: 80px;
  width: auto;
}

/* Keyframes for marquee */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.middle-section-para h1 {
  font-size: 3.5vw;
  margin-top: 5vw;
  color: var(--primary-color);
}

/* section 3 */

#section3 {
  min-height: 100vh;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

#section3 .heading {
  font-size: clamp(2rem, 12.5vw, 13.5rem);
  text-align: center;
  text-wrap: balance;
  margin-bottom: 3vw;
}

#section3 video {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 30px #73442536;
}

#section3 .content {
  max-width: 600px;
  margin-left: auto;
}

#section3 p {
  margin-top: 1rem;
}

/* section 4 */

#section4 {
  min-height: 100vh;
  position: relative;
}

#section4 img {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 30px #73442536;
  position: absolute;
}

#section4 .img1 {
  max-width: 470px;
  top: 12%;
  left: 3%;
  transform: rotate(15deg);
}

#section4 .img2 {
  max-width: 470px;
  right: 4%;
  top: 22%;
  transform: rotate(14deg);
}

#section4 .img3 {
  max-width: 370px;
  left: 10%;
  bottom: 12%;
  transform: rotate(-12deg);
}

/* section 5 */

#section5 {
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 8vw;
  min-height: 94vh;
}

#section5 .product-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}

#section5 button {
  margin-top: 3rem;
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

#section5 button a {
  color: var(--primary-color);
}

.product img {
  width: 100%;
  height: 300px;
  max-width: 300px;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  filter: drop-shadow(6px 15px 5px #00000018);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
}

.product .name {
  position: absolute;
  top: 120px;
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  height: 70px;
  opacity: 0;
}

.product:hover .name {
  opacity: 1;
  color: var(--primary-color);
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.product:hover img {
  filter: brightness(50%);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

/* .product .price{
  font-size: 24px;
  font-weight: 700;
} */

/* section 6 */

#section6 {
  min-height: 100vh;
  display: flex;
  align-items: start;
  gap: 5vw;
  padding-bottom: 8vw;
}

#section6 img {
  box-shadow: 0 0 30px #73442536;
}

#section6 p {
  margin-bottom: 1rem;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--primary-color);
}

footer .logo {
  max-width: 132px;
}

footer .social {
  display: flex;
  align-items: center;
}

footer .social a img {
  width: 8vw;
  height: 8vh;
  color: var(--primary-color);
}

/* login */
#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#container header nav {
  background: transparent;
  /* light transparent background */
}

#container h4 {
  color: var(--primary-color);
}

#login-h1 {
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 1.2rem 2.4rem;
}

#login-h2 {
  position: absolute;
  top: 20%;
  left: 70%;
  padding: 1.2rem 2.4rem;
}

#login-h3 {
  position: absolute;
  top: 35%;
  left: 55%;
  padding: 1.2rem 2.4rem;
}

#login-h4 {
  position: absolute;
  top: 50%;
  left: 80%;
  padding: 1.2rem 2.4rem;
}

#login-h5 {
  position: absolute;
  top: 65%;
  left: 15%;
  padding: 1.2rem 2.4rem;
}

#login-h6 {
  position: absolute;
  top: 75%;
  left: 60%;
  padding: 1.2rem 2.4rem;
}

#login-h7 {
  position: absolute;
  top: 10%;
  left: 55%;
  padding: 1.2rem 2.4rem;
}

#login-h8 {
  position: absolute;
  top: 40%;
  left: 5%;
  padding: 1.2rem 2.4rem;
}

#login-h9 {
  position: absolute;
  top: 55%;
  left: 45%;
  padding: 1.2rem 2.4rem;
}

#login-h10 {
  position: absolute;
  top: 80%;
  left: 30%;
  padding: 1.2rem 2.4rem;
}

#login-h11 {
  position: absolute;
  top: 15%;
  left: 85%;
  padding: 1.2rem 2.4rem;
}

#login-h12 {
  position: absolute;
  top: 25%;
  left: 40%;
  padding: 1.2rem 2.4rem;
}

#login-h13 {
  position: absolute;
  top: 60%;
  left: 75%;
  padding: 1.2rem 2.4rem;
}

#login-h14 {
  position: absolute;
  top: 70%;
  left: 5%;
  padding: 1.2rem 2.4rem;
}

#login-h15 {
  position: absolute;
  top: 80%;
  left: 20%;
  padding: 1.2rem 2.4rem;
}

#login-h16 {
  position: absolute;
  top: 85%;
  left: 70%;
  padding: 1.2rem 2.4rem;
}

#login-h17 {
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 1.2rem 2.4rem;
}

#login-h18 {
  position: absolute;
  top: 85%;
  left: 65%;
  padding: 1.2rem 2.4rem;
}

#login-h19 {
  position: absolute;
  top: 12%;
  left: 35%;
  padding: 1.2rem 2.4rem;
}

#login-h20 {
  position: absolute;
  top: 55%;
  left: 10%;
  padding: 1.2rem 2.4rem;
}

.login-div {
  width: 100%;
  max-width: 450px;
  min-width: 350px;
  /* height: 60vh; */
  position: absolute;
  padding: 55px;
  text-align: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* frosted glass / mirror effect */
  background: rgba(255, 255, 255, 0.1);
  /* semi-transparent */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */
  border-radius: 1rem;
  /* optional, softer edges */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  /* optional depth */
  z-index: 10;
}

i {
  color: var(--primary-color);
}

.login-div h1 {
  font-family: var(--heading-font);
  font-size: 3rem;
}

.login-div .underline {
  width: 30px;
  height: 4px;
  background-color: var(--secondary-color);
  margin: 10px auto 50px auto;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.input-field {
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-height: 60px;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.input-field input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
  color: var(--black);
}

.input-field i {
  padding-left: 15px;
}

form p {
  text-align: left;
  font-size: 13px;
}

form p a {
  color: var(--primary-color);
  font-weight: 600;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-field button {
  flex-basis: 48%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.input-group {
  height: 250px;
}

button.disable {
  background-color: var(--bg-color);
  color: var(--black);
  border: 1px solid var(--black);
}

/* traffic heading */
#traffic {
  /* height: 100vh; */
  /* width: 100%; */
  padding-left: 5vw;
  padding-right: 5vw;
}

#search-bar {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  height: 10vh;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  outline: none;
  font-size: 1.1rem;
  padding-left: 20px;
  background-color: transparent;
  color: var(--primary-color);
}

#traffic-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0.95;
  margin-top: 2rem;
}

#goback-btn {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo {
  max-width: 132px;
  color: var(--primary-color);
}

#traffic-heading h1 {
  font-family: var(--heading-font);
  font-size: 5rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

#traffic-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.content-box {
  border: var(--primary-color) 2px solid;
  border-radius: 20px;
  width: 300px;
  padding: 25px;
  transition: all 0.5s ease-in-out;
}

.content-box:hover {
  transform: scale(1.05);
}

.content-box span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content-box span i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.content-box h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.content-box p {
  font-size: 1.2rem;
  color: var(--black);
  line-height: 1.4;
  margin-bottom: 10px;
}

.content-box button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  /* so it's unclickable when hidden */
  transition: all 0.5s ease-in-out;
}

.content-box:hover button {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* categories */

.categories img {
  width: 100vw;
  height: 35vh;
  max-width: 300px;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  filter: drop-shadow(6px 15px 5px #00000018);
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.categories-name {
  position: absolute;
  top: 90px;
  left: 20px;
  font-size: 2rem;
  font-weight: 500;
  width: 200px;
  line-height: 1.2;
  height: 0px;
  opacity: 0;
}

.categories:hover .categories-name {
  opacity: 1;
  color: var(--primary-color);
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.categories:hover img {
  filter: brightness(30%);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

/* media query */
@media (min-width: 0px) and (max-width: 890px) {
  /* Categories */
  #traffic-heading {
    justify-content: center;
  }

  #traffic-heading a {
    display: none;
  }

  .categories-name {
    top: 70px;
    opacity: 1;
  }
}

@media (min-width: 0px) and (max-width: 690px) {
  /* Categories */
  .categories img {
    width: 63vw;
    height: 50vh;
    max-width: 310vw;
  }

  .categories-name {
    left: 40px;
    top: 130px;
  }
}

@media (min-width: 0px) and (max-width: 550px) {
  /* Categories */
  #traffic-heading h1 {
    font-size: 4rem;
  }

  #search-bar {
    max-width: 400px;
  }
}

@media (min-width: 0px) and (max-width: 460px) {
  /* Categories */
  #traffic-heading h1 {
    font-size: 3.5rem;
  }

  #traffic-content {
    gap: 1rem;
    margin-top: 2rem;
  }

  #search-bar {
    max-width: 300px;
    font-size: 1rem;
  }

  .categories img {
    width: 63vw;
    height: 40vh;
    max-width: 310vw;
  }

  .categories-name {
    top: 90px;
    font-size: 1.8rem;
  }

  /* Laws */
  .content-box {
    width: 250px;
    padding: 20px;
  }

  .content-box h1 {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  .content-box p {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .content-box button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (min-width: 0px) and (max-width: 380px) {
  /* Categories */
  #traffic-heading h1 {
    font-size: 3rem;
  }

  #search-bar {
    max-width: 250px;
    font-size: 0.75rem;
    margin-top: 1.5rem;
    height: 8vh;
  }

  #traffic-content {
    gap: 1rem;
    margin-top: 2rem;
  }

  .categories img {
    width: 60vw;
    height: 30vh;
    max-width: 310vw;
  }

  .categories-name {
    top: 70px;
    left: 20px;
    font-size: 1.5rem;
    width: 150px;
  }

  /* Laws */
  .content-box {
    width: 220px;
    padding: 15px;
  }

  .content-box h1 {
    font-size: 1.8rem;
    margin-bottom: 6px;
  }

  .content-box p {
    font-size: 0.9rem;
    margin-bottom: 6px;
  }

  .content-box button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}

@media (min-width: 0px) and (max-width: 330px) {
  /* Categories */
  #traffic-heading {
    margin-top: 2rem;
  }

  #traffic-heading h1 {
    font-size: 2.5rem;
  }

  #traffic-content {
    gap: 1rem;
    margin-top: 1.5rem;
  }

  #search-bar {
    max-width: 220px;
    margin-top: 1.5rem;
    height: 7vh;
    font-size: 0.7rem;
  }

  .categories img {
    margin-bottom: 0;
    height: 25vh;
  }

  .categories-name {
    top: 60px;
    font-size: 1.2rem;
    width: 100px;
  }

  /* Laws */
  .content-box {
    width: 200px;
    padding: 12px;
  }

  .content-box h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .content-box p {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .content-box button {
    font-size: 0.7rem;
    padding: 5px 10px;
  }
}

/* main Page */
@media (min-width: 0px) and (max-width: 1200px) {
  #section1 p {
    margin-top: 0rem;
  }
}
@media (min-width: 0px) and (max-width: 1100px) {
  #section1 h1 {
    margin-top: 20rem;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .product img {
    height: 250px;
    max-width: 250px;
  }
  #section6 img {
    max-width: 400px;
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 900px) {
  #headphone {
    width: 37vw;
    top: 0.7%;
  }
  .product .name {
    width: 240px;
    font-size: 15px;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .product .name {
    width: 240px;
    font-size: 15px;
  }
}
@media (min-width: 0px) and (max-width: 700px) {
  header .logo {
    max-width: 120px;
  }
  #goback-btn {
    display: none;
  }
  #hamburger {
    display: block;
    cursor: pointer;
  }
  #section5 .product-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3rem;
}
}
